:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins";
  font-weight: 500;
  color: #000000;
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#cv {
  max-width: 595px;
  width: 100%;
  margin: 100px auto;
  padding: 15px 20px;
  display: grid;
  background-color: #ffffff;
}

#contentPdf {
  margin: 0;
  padding: 0;
  display: flex;
}

#top {
  max-width: 555px;
  width: 100%;
  max-height: 124px;
  display: flex;
}
#img {
  max-width: 124px;
  width: 100%;
  max-height: 124px;
  border-radius: 12px;
}
#namebox {
  max-width: 124px;
  width: 100%;
  max-height: 124px;
  border-radius: 12px;
  background-color: #f0f0f0;
  margin: 0px 20px;
  padding: 12px;
}
#languages {
  max-width: 267px;
  width: 100%;
  max-height: 124px;
  border-radius: 12px;
  background-color: #f0f0f0;
  padding: 12px;
}
#langlavel {
  max-width: 243px;
  width: 100%;
  max-height: 53px;
  margin-top: 16px;
  font-size: 10px;
  display: flex;
}
#landblock {
  max-width: 58px;
  width: 100%;
  max-height: 50px;
  margin-right: 17px;
}
#levelblock {
  max-width: 168px;
  width: 100%;
  max-height: 53px;
}

#middle {
  max-width: 555px;
  width: 100%;
  max-height: 359px;
  margin: 20px 0;
  display: flex;
}
#experience {
  max-width: 411px;
  width: 100%;
  max-height: 359px;
  border-radius: 12px;
  background-color: #f0f0f0;
  padding: 12px;
  margin-right: 20px;
}
#joblist {
  max-width: 387px;
  width: 100%;
  max-height: 300px;
  margin-top: 16px;
}
#lastjob {
  max-width: 387px;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  background-color: #28d979;
  color: #ffffff;
}

#tools {
  max-width: 124px;
  width: 100%;
  max-height: 359px;
  border-radius: 12px;
  background-color: #f0f0f0;
  padding: 12px;
}
#toolsblock {
  max-width: 76px;
  width: 100%;
  margin: 15px 0px 0px 12px;
}

#bottom {
  max-width: 555px;
  width: 100%;
  max-height: 289px;
  display: flex;
}
#education {
  max-width: 268px;
  width: 100%;
  max-height: 289px;
  border-radius: 12px;
  background-color: #f0f0f0;
  margin-right: 20px;
  padding: 12px;
}
#interests {
  max-width: 267px;
  width: 100%;
  max-height: 177px;
  border-radius: 12px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  padding: 12px;
}
#educationblock {
  max-width: 248px;
  width: 100%;
  max-height: 228px;
  display: grid;
  grid-template-columns: repeat(2, 116px);
  gap: 12px;
}
#oneblockedu {
  max-width: 116px;
  width: 100%;
  max-height: 120px;
  padding: 8px;
  margin-top: 16px;
  border-radius: 10px;
  background-color: #28d979;
  color: #ffffff;
}
#twoblockedu {
  max-width: 116px;
  width: 100%;
  max-height: 108px;
  padding: 8px;
  margin-top: 16px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
}
#treeblockedu {
  max-width: 116px;
  width: 100%;
  max-height: 96px;
  padding: 8px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
}
#lastblocks {
  max-width: 267px;
  width: 100%;
  max-height: 289px;
}
#phrase {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  font-style: normal;
  margin-bottom: 5px;
}
#contact {
  font-size: 10px;
  font-weight: 400;
  color: #dddddd;
  font-style: normal;
  text-decoration: none;
}

div.greating {
  font-size: 10px;
  margin-bottom: 46px;
  max-height: 96px;
}
div.name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}
div.role {
  font-size: 12px;
  color: #5c5c5c;
}

.header {
  font-size: 14px;
  margin: 0;
}
.p {
  margin: 0;
  box-sizing: content-box;
  max-height: 10px;
}
.pmid {
  box-sizing: content-box;
  max-height: 10px;
  margin: 10px 0px;
}
.level {
  max-height: 11px;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #28d979;
  color: #28d979;
}
.levelhindi {
  max-width: 129px;
  height: 100%;
  width: 77%;
  max-height: 11px;
  border-radius: 3px;
  background-color: #28d979;
  color: #28d979;
}
.anyjob {
  max-width: 387px;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  margin-top: 8px;
  background-color: #ffffff;
  color: #000000;
}
.jobtop {
  max-width: 371px;
  width: 100%;
  max-height: 16px;
  font-size: 8px;
  display: flex;
}
.ptop {
  margin: 2px 0px;
}
.mosttag {
  width: fit-content;
  padding: 0px 6px;
  margin-left: auto;
  border-radius: 59px;
  background-color: rgba(126, 115, 18, 0.4);
  color: #ddf163;
}
.jobcontent {
  max-width: 371px;
  width: 100%;
  margin-top: 8px;
  display: flex;
}
.jobrole {
  max-width: 124px;
  width: 100%;
  margin-right: 8px;
}
.jobheader {
  font-size: 10px;
  margin: 0;
}
.pjoblast {
  font-size: 8px;
  font-weight: 400;
  margin: 0;
  color: #ebf9f2;
}
.pjob {
  font-size: 8px;
  font-weight: 400;
  margin: 0;
  color: #3f3d3d;
}
.jobpoints {
  max-width: 239px;
  width: 100%;
  font-size: 8px;
  font-weight: 400;
  text-align: left;
}
.uljob {
  margin: 0;
  padding-left: 12px;
}
.black {
  color: #000000;
}
.designtools {
  max-width: 76px;
  width: 100%;
  max-height: 111.48px;
  border-radius: 6px;
  padding: 0px 4px 11px 4px;
  margin-bottom: 12px;
  background-color: #ffffff;
}
.table {
  max-width: 76px;
  width: 100%;
  text-align: center;
}
.caption {
  position: relative;
  bottom: 6px;
}
.toolstag {
  width: fit-content;
  padding: 2px 6px;
  margin: auto;
  border-radius: 59px;
  background-color: #000000;
  color: #ffffff;
  font-size: 5px;
  text-align: center;
  position: relative;
}
.topblockedu {
  max-width: 100px;
  width: 100%;
  max-height: 15px;
  font-size: 10px;
  margin-bottom: 8px;
  vertical-align: middle;
  display: flex;
}
.heart {
  margin-top: 4px;
  margin-left: auto;
}
.schoolgreen {
  font-size: 8px;
  font-weight: 400;
  margin-top: 8px;
}
.hashedu {
  font-size: 8px;
  font-weight: 400;
  margin: 0;
  color: #149063;
}
.interestsblock {
  max-width: 243px;
  width: 100%;
  max-height: 116px;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tags {
  width: fit-content;
  border-radius: 40px;
  font-size: 10px;
  font-weight: 400;
  padding: 4px 10px;
  background-color: #ffffff;
  color: #000000;
}
.footer {
  max-width: 267px;
  width: 100%;
  max-height: 92px;
  border-radius: 12px;
  padding: 12px;
  background-color: #000000;
}
.headerarea {
  max-height: 60px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}
.line {
  max-height: 5px;
  height: 100%;
  width: 100%;
  margin-top: 5px;
  position: relative;
  top: 15px;
  background-color: #000000;
}

.ripple {
  width: 10px;
  height: 10px;
  background-color: transparent;
  position: fixed;
  border-radius: 50%;
  border: 1px solid #ffffff59;
}

@keyframes ripple-effect {
  to {
     transform: scale(15);
     opacity: 0.01;
  }
}

[contenteditable="true"]:hover,
[contenteditable="true"]:focus {
  background-color: rgba(255, 255, 0, 0.5);
  color: red;
  cursor: text;
  box-shadow: inset 0 0 2px #ccc;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
  position: relative;
  top: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
